PORT=8080

DATABASE_URL=postgresql://<user>:<password>@<ip>:5432/<db_name>

JWT_ACCESS_SECRET=<openssl rand -base64 48>
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=<openssl rand -base64 48>
JWT_REFRESH_EXPIRES_IN=7d